.dashboard-container {
  flex: 1;
  margin: 20px;
}

.add-product-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  background: var(--yellow);
  overflow: auto;
  display: block;
  width: 70%;
  height: 80%;
  position: fixed;
}

.add-product-container h2 {
  text-align: center;
}

.add-product-container form {
  display: flex;
  flex-direction: column;
}

.add-product-container label {
  margin-bottom: 10px;
}

.add-product-container input[type="text"] {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
  width: 99%;
}

.add-product-container button[type="submit"] {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-product-container button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .add-product-container {
    max-width: 100%;
    padding: 10px;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .add-product-container {
    max-width: 80%;
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  .add-product-container {
    max-width: 65%;
  }
}
