/* CSS cho bảng */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  margin-top: -5px;
  background-color: #f2f2f2;
  position: sticky; /* Cố định phần thead */
  top: -1px;
  z-index: 1;
}

/* CSS cho tiêu đề trạng thái */
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* CSS cho phần tử bao bảng */
.order-container {
  display: flex;
  flex-wrap: wrap;
}

/* CSS cho mỗi bảng */
.order-table {
  flex: 1 1 30%;
  margin-right: 20px;
}

/* CSS cho wrapper của bảng để thêm cuộn dọc */
.table-wrapper {
  max-height: 550px; /* Chiều cao tối đa của bảng */
  overflow-y: auto; /* Thêm cuộn dọc nếu vượt quá chiều cao tối đa */
}

/* CSS cho nút bấm */
.confirm-button,
.cancelled-button {
  background-color: #4caf50; /* Màu nền */
  color: white; /* Màu chữ */
  padding: 10px 20px; /* Kích thước padding */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo góc */
  cursor: pointer; /* Con trỏ khi di chuột vào */
}

.cancelled-button {
  margin-left: 10px;
  background-color: #ff5858;
}

.confirm-button:hover {
  background-color: #45a049; /* Màu nền khi di chuột vào */
}

.cancelled-button:hover {
  background-color: #e60000; /* Màu nền khi di chuột vào */
}
